        
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">University</h5>
        <p class="grey-text text-lighten-4">Improving education.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><%= link_to "Help", "/#", class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "About", "/#", class: "grey-text text-lighten-3" %></li>
          <li><%= link_to "Contact Us", "/#", class: "grey-text text-lighten-3" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2022 University
      <%= link_to "Donate", "/#", class: "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
